<ion-header>
    <ion-toolbar>
        <ion-button color="success" slot="start" (click)="onClik()">
            <ion-icon name="add"></ion-icon>
        </ion-button>
        <ion-title>
            Games List
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let game of games; let i = index">
            <ion-item (click)="onClick(i)">
                {{ game?.name }}
            </ion-item>
            <ion-item-options side="end" (ionSwipe)="delete(i)">
                <ion-item-option color="danger" (click)="delete(i)" expandable>
                    <ion-icon name="close"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>